html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(-30deg, #ffc200 20%, rgba(0, 0, 0, 0) 20%),
    linear-gradient(150deg, #d03251 6.5%, #2133b5 6.5%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} /*특정 부분 스크롤바 없애기*/
.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
